
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: "Josefin Sans";
    text-decoration: none;
    scroll-behavior: smooth;

}

a{
    color: #ffffff;
}

body{
    background: linear-gradient(to bottom right, #64081a, #290808);
    height: 100%;
    width: 100%;
    color: #ffffff;
}

ul {
    list-style-type: none;
  }
  

/*Navbar*/

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: #00000085;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}

.logo{
    font-weight: 600;
    color: #ffffff;
    font-size: xxx-large;
    margin-left: 30px;
    margin-top: 20px;
}

.navbar a{
    color: #ffffff;
    font-size: xx-large;
    margin-left: 35px;
    margin-right: 50px;
    transition: .5s;
}

.navbar a:hover{
    color: #ff0037;
}

/*Home Section*/

#home{
    display: flex;
    height: 100vh;
    align-items: center;
    padding-left: 5%;
}

.home-content h1{
    font-size: 50px;
}

.home-content h3{
    font-size: 50px;
    margin-top: 2.5px;
    margin-bottom: 35px;
    color: #ff0037;
}

.home-content{
    max-width: 700px;
    padding-bottom: 100px;
    margin-right: 300px;
}

.btn{
    background-color: rgba(0, 255, 255, 0);
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 2px solid #ff0037;
    background-color: transparent;
    border-radius: 20px;
    transition: 0.7s;
}

.btn:hover{
    background-color: #ff0037;
    border: 2px solid #ffffff;
    border-radius: 40px;
}

.btn a{
    font-size: x-large;
    letter-spacing: 1.5px;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
}


.about h1{
    display: inline-block;
    justify-content: center;
    margin-bottom: 20px;
    font-size: xx-large;
    color: #ff0037;
}

.about-content p{
    font-size: x-large;
}


/*Skills Section*/

#skill{
    background: linear-gradient(to bottom right, #290808, #ff0037);
    height: 100vh;
}

#skill h1{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.skill-container{
    margin: 20px;
}

.skill-container h1{
    font-size: xxx-large;
}

.python{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.python p{
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 20px;
    color: #290808;
}

.python-text{
    margin: 50px;
    line-height: 20px;
}

.java{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.java p{
    color: #290808;
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 20px;
}

.java-text{
    margin: 50px;
    line-height: 20px;
}

.html{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.html p{
    color: #290808;
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 20px;
    margin: 50px;
    line-height: 20px;
}

.css{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.css p{
    color: #290808;
    font-weight: 700;
    font-size: xx-large;
    margin-bottom: 20px;
    margin: 50px;
    line-height: 20px;
}

/*Contact Section*/

#contact{
    background: linear-gradient(to bottom right, #290808, #ff0037);
    height: 50vh;
}

#contact h1{
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contact-container{
    display: flex;
    justify-content: center;
}

.connect{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.github{
    margin-right: 100px;
}

.linkedin{
    margin-right: 100px;
}

.usernames{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 20px;
}

.github-text{
    margin-left: 720px;
    margin-right: 40px;
}

.linkedin-text{
    margin-right: 50px;
}
